:root {
  --primary-color: #06aed5;
  --secondary-color: rgb(195, 2, 2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* border: 3px solid var(--secondary-color); */
  min-height: 100%;
}

body {
  background-color: rgb(22, 22, 22);
  min-height: 100%;
  font-family: 'Cardo', serif;
  color: var(--primary-color);
  font-size: 20px;
}

main {
  margin: 20px 30px;
}

header {
  /* background-color: rgb(100, 100, 100); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  background: rgb(2,0,36);
  background: linear-gradient(349deg, rgba(2,0,36,1) 0%, rgba(114,18,20,1) 16%, rgba(121,9,9,1) 47%, rgba(10,163,194,1) 100%);
  font-family: "Kaushan Script", sans-serif;
  /* background-image: url('./assets/hero-background.jpg'); */
  height: 75px;
  /* margin-bottom: -80px; */
  /* border-bottom: 1px solid var(--secondary-color); */
  justify-content: space-between;
  
  position: -webkit-sticky; /* to support Safari */
  position: sticky;
  top: 0;
  z-index: 9999;

}

.header-active {
  /* background-image: url('./assets/hero-background.jpg'); */
  /* height: 10px; */
  transform: scaleY(.7) translate(0%, -30%);
  /* margin-top: -30px; */
}

.header-name-container {
  margin: 8px 12px;
}

.header-name {
  padding: 5px 20px;
  font-size: 50px;
  font-weight: bold;
  /* color: #06aed5; */
  color: var(--secondary-color);
  text-decoration: none;
  text-shadow: 3px 3px black;
}

.header-name:hover {
  text-decoration: none;
  /* color: rgb(105, 32, 105); */
  color: black;
  text-shadow: 3px 3px red;
}

.nav-container {
  padding: 40px 0 0 0;
}

.nav-sections {
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-sections li {
  position: relative;
  display: block;
}

.nav-sections span {
  font-size: 24px;
  color: var(--primary-color);
  text-shadow: 1px 1px black;
  display: block;
  transition: 1s;
}

.nav-sections span:before {
  position: absolute;
  content: attr(id);
  top: 100%;
  opacity: 0;
  transition: .5s;
}

.nav-sections span:hover:before {
  top: 0;
  opacity: 1;
  transition: .5s;
  text-decoration: underline;
}

.nav-sections span:hover  {
  color: black;
  text-shadow: 1px 1px var(--primary-color);
  transform: translateY(-50%);
  transition: .25s;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin: 50px 0 80px 0;
}

.profile-img {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
  margin: 15px 50px 15px 0;
  float: left;
}

.profile-img:hover {
  transform: scale(1.1);
  animation: wiggle 2s;
}

.about-par {
  font-size: 24px;
  margin: 100px 0 10px 0;
  text-align: justify;
}

.interest-images {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0 50px 0;
}

.interest-images img {
  height: 200px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

.interest-images img:hover {
  animation: wiggle 1s;
}

.contact-form {
  border: 2px solid ;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(231, 231, 231, 0.3);
  padding: 10px 20px;
  width: 75%;
  margin: 0 auto;
  background-color: rgb(6, 174, 213, 0.3);
}

.contact-form label {
  margin: 10px 0;
  text-shadow: 2px 2px black;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background-color: rgb(231, 231, 231);
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgb(141, 141, 141);
  outline: none;
}

.contact-form button {
  font-weight: bold;
  color: black;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 80%;
  margin: 10px 10%;
  border: 2px solid black;
  transition: .7s ease-out;
}

.contact-form button:hover {
  color: var(--primary-color);
  background-color: black;
  border: 2px solid var(--primary-color);
}

.main-project-container {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  height: 350px;
  width: 70%;
  padding: 10px;
  margin: 0 auto 25px auto;
}

.main-project {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
}

.main-project-container:hover {
  transform: scale(1.2);
}

.main-project img {
  border-radius: 10px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.project-div:hover {
  transform: scale(1.1);
}

.project img {
  border-radius: 10px;
}

.project-div {
  width: 40%;
  height: 250px;
  margin: 20px;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.link-div {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 5px;
  display: flex;
}

.link-div:hover {
  opacity: 1;
}

.feature-links {
  padding: 50px;
}

.project-links {
  padding: 150px 10px 0 10px;
}

.link-div a {
  text-decoration: none;
  height: 50px;
}

.link-div h4 {
  margin: 20px;
  font-family: "Kaushan Script", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
  width: 142px;
  text-align: center;
}

.link-div h4:hover {
  border: 2px solid black;
  border-radius: 10px;
  width: 142px;
  background-color: var(--primary-color);
}

.link-div img{
  width: 80px;
}

.link-div img:hover {
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.cinfo {
  background-color: var(--primary-color);
}

.cinfo-logo {
  margin: 40px 0 ;
}

.resume-container {
  display: flex;
  justify-content: center;
}

.resume-container img {
  border: 5px solid white;
}

footer {
  height: 80px;
  /* border-top: 1px solid red; */
  background-image: url("./assets/hero-background.jpg");
  display: flex;
  justify-content: space-between;
}

.footer-banner {
  width: 60%;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px;
}

.footer-banner h2 {
  animation: marquee 20s linear infinite;
  text-shadow: 2px 2px black;
}

.footer-banner h2:hover {
  color: var(--secondary-color);
}

.footer-half {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px;
}

.footer-icons img {
  border: 2px solid black;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  background-color: white;
}

.footer-icons img:hover {
  transform: scale(1.1);
}

.footer-copy {
  width: 35%;
}

.footer-copy p {
  margin: 0;
  padding: 5px 0 0 0;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
}

@keyframes marquee {
  0% {transform: translateX(100%);}
 /* 50% {transform: translateX(0);} */
 100% {transform: translateX(-100%);} 
}

@keyframes textCircle {
  0% { top: 0%; transform: translateY(0%); }
  50% { top: 50%; transform: translateY(0%); }
  100% { top: 50%; transform: translateY(-50%); }
}