* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  border: 3px solid red;
  min-height: 100%;
}

body {
  background-color: black;
  min-height: 100%;
  color:rgb(28, 78, 240);
}

header {
  background-color: #002b53;
  background-image: url("./assets/hero-background.jpg");
  height: 150px;
  border-bottom: 1px solid red;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  padding: 20px;
  border: 3px solid red;
  border-top: 1px solid red;
  background-image: url("./assets/hero-background.jpg");
  /* background-color: rgb(31, 29, 29); */
  /* border: 3px solid white; */
  
}

main, a {
  color: rgb(28, 78, 240);
  margin: 20px 30px;
}
.profile-img {
  border: 2px solid red;
  /* margin: 10px;
  padding: 10px; */
}

.interest-images img {
  height: 150px;
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}