:root {
  --primary-color: #06aed5;
  --secondary-color: rgb(195, 2, 2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  border: 3px solid var(--secondary-color);
  min-height: 100%;
}

body {
  background-color: black;
  min-height: 100%;
  font-family: 'Cardo', serif;
  color: var(--primary-color);
  font-size: 20px;
}

main {
  margin: 20px 30px;
}

header {
  font-family: "Kaushan Script", sans-serif;
  background-image: url('./assets/hero-background.jpg');
  height: 80px;
  border-bottom: 1px solid var(--secondary-color);
  justify-content: space-between;
}

.header-name-container {
  margin: 8px 12px;
}

.header-name {
  padding: 5px 20px;
  
  font-size: 50px;
  font-weight: bold;
  color: #06aed5;
  text-decoration: none;
  text-shadow: 3px 3px black;
}

.nav-container {
  padding: 40px 0 0 0;
}

.nav-sections {
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-sections span {
  font-size: 24px;
  color: var(--primary-color);
  text-shadow: 2px 2px black;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  /* margin: 0 0 0 140px; */
  text-decoration: underline;
}

.profile-img {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  padding: 10px;
  margin: 15px 50px 15px 0;
  float: left;
}

.about-par {
  font-size: 24px;
  margin: 25px 0 10px 0;
  text-align: justify;
}

.interest-images {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0 50px 0;
}

.interest-images img {
  height: 200px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

footer {
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
  height: 80px;
  padding: 20px;
  /* border: 3px solid red; */
  border-top: 1px solid red;
  background-image: url("./assets/hero-background.jpg");
  /* background-color: rgb(31, 29, 29); */
  /* border: 3px solid white; */
  
}

